.auth-page {
  width: 100%;
  height: 100vh;
  background-color: #0b3a80;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: white; */
}

.container-box {
  background: #6a97da;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container-box h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #eea921;
}

.container-box form {
  display: flex;
  flex-direction: column;
}

.container-box .username, .container-box .email, .container-box .password {
  margin-bottom: 15px;
}

.container-box input {
  width: 94%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container-box button {
  background-color: #0d47a1;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin: 0px 0px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container-box button:hover {
  background-color: #0b3a80;
}

.container-box .link {
  color: #0d47a1;
  text-decoration: none;
}

.container-box .link:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}
